<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="Entidades" connectionString="metadata=res://*/ModeloBaseDeDados.csdl|res://*/ModeloBaseDeDados.ssdl|res://*/ModeloBaseDeDados.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=ES;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>